In [1]:
import pandas as pd

In [2]:
working_file = "Resources/purchase_data.csv"

In [3]:
purchase_data_df = pd.read_csv(working_file)

In [4]:
unique_value = purchase_data_df["SN"].nunique()
print("Total Players")
print(unique_value)

Total Players
576

In [5]:
summary_df = pd.DataFrame({"Total Players": [unique_value]})
summary_df

   Total Players
0            576

In [6]:
Num_unique = len(purchase_data_df["Item ID"].unique())
print(Num_unique)

179

In [7]:
Average_price = purchase_data_df["Price"].mean()
print(Average_price)

3.050987179487176

In [8]:
Num_purchase = purchase_data_df["Purchase ID"].count()
print(Num_purchase)

780

In [9]:
Total_revenue = purchase_data_df["Price"].sum()
print(Total_revenue)

2379.77

In [10]:
summary_df = pd.DataFrame({"Number of Unique Items": [Num_unique],
                              "Average Price": ['Average_price'],
                              "Number of Purchases": [Num_purchase],

                              "Total Revenue": [Total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179  Average_price                  780        2379.77

In [11]:
pdfmale = purchase_data_df.copy()
pdffemale = purchase_data_df.copy()
pdfother = purchase_data_df.copy()

unique_sn_males = purchase_data_df[['SN','Gender']]
filter_male = pdfmale['Gender']=="Male"
filter_female = pdffemale['Gender']=="Female"
filter_other = pdfother['Gender']=="Other / Non-Disclosed"

pdfmale.where(filter_male,inplace=True)
pdffemale.where(filter_female,inplace=True)
pdfother.where(filter_other,inplace=True)

summary_df = pd.DataFrame({"Total Count": [pdfmale['SN'].nunique(),pdffemale['SN'].nunique(),pdfother['SN'].nunique()], 
"Percentage of Players":['{:,.2%}'.format(pdfmale['SN'].nunique() / unique_value),'{:,.2%}'.format(pdffemale['SN'].nunique()/unique_value),'{:,.2%}'.format(pdfother['SN'].nunique()/unique_value)]},
index=['Male', 'Female', 'Other / Non-Disclosed'])

summary_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [12]:
pdfmale = purchase_data_df.copy()
pdffemale = purchase_data_df.copy()
pdfother = purchase_data_df.copy()

filter_male = pdfmale['Gender']=="Male"
filter_female = pdffemale['Gender']=="Female"
filter_other = pdfother['Gender']=="Other / Non-Disclosed"

pdfmale.where(filter_male,inplace=True)
pdffemale.where(filter_female,inplace=True)
pdfother.where(filter_other,inplace=True)

summary_df = pd.DataFrame({"Purchase Count": ["",pdffemale['SN'].count(),pdfmale['SN'].count(),pdfother['SN'].count()],
"Average Purchase Price": ["",'${:,.2f}'.format(pdffemale['Price'].mean()),'${:,.2f}'.format(pdfmale['Price'].mean()),'${:,.2f}'.format(pdfother['Price'].mean())],
"Total Purchase Value": ["",'${:,.2f}'.format(pdffemale['Price'].sum()),'${:,.2f}'.format(pdfmale['Price'].sum()),'${:,.2f}'.format(pdfother['Price'].sum())],
"Avg Total Purchase per Person": ["",'${:,.2f}'.format(pdffemale['Price'].sum()/pdffemale['SN'].nunique()),'${:,.2f}'.format(pdfmale['Price'].sum()/pdfmale['SN'].nunique()),'${:,.2f}'.format(pdfother['Price'].sum()/pdfother['SN'].nunique())]
},
index=['Gender','Female','Male', 'Other / Non-Disclosed'])

summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [13]:


pdfage = purchase_data_df.copy()

summary_df = pd.DataFrame(
{
    "Total Count":[
        pdfage.where(pdfage['Age']<10)['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(10,14))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(15,19))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(20,24))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(25,29))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(30,34))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(35,39))['SN'].nunique(),
        pdfage.where(pdfage['Age']>=40)['SN'].nunique()
        ],
"Percentage of Players":[
    '{:,.2%}'.format(pdfage.where(pdfage['Age']<10)['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(10,14))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(15,19))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(20,24))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(25,29))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(30,34))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(35,39))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age']>=40)['SN'].nunique()/pdfage['SN'].nunique())]
    },
index=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
summary_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [14]:


pdfage = purchase_data_df.copy()

summary_df = pd.DataFrame(
{
    "Purchase Count":[
        pdfage.where(pdfage['Age']<10)['SN'].count(),
        pdfage.where(pdfage['Age'].between(10,14))['SN'].count(),
        pdfage.where(pdfage['Age'].between(15,19))['SN'].count(),
        pdfage.where(pdfage['Age'].between(20,24))['SN'].count(),
        pdfage.where(pdfage['Age'].between(25,29))['SN'].count(),
        pdfage.where(pdfage['Age'].between(30,34))['SN'].count(),
        pdfage.where(pdfage['Age'].between(35,39))['SN'].count(),
        pdfage.where(pdfage['Age']>=40)['SN'].count()
        ],
"Average Purchase Price":[
    '${:,.2f}'.format(pdfage.where(pdfage['Age']<10)['Price'].sum()/pdfage.where(pdfage['Age']<10)['SN'].count()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(10,14))['Price'].sum()/pdfage.where(pdfage['Age'].between(10,14))['SN'].count()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(15,19))['Price'].sum()/pdfage.where(pdfage['Age'].between(15,19))['SN'].count()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(20,24))['Price'].sum()/pdfage.where(pdfage['Age'].between(20,24))['SN'].count()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(25,29))['Price'].sum()/pdfage.where(pdfage['Age'].between(25,29))['SN'].count()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(30,34))['Price'].sum()/pdfage.where(pdfage['Age'].between(30,34))['SN'].count()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(35,39))['Price'].sum()/pdfage.where(pdfage['Age'].between(35,39))['SN'].count()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age']>=40)['Price'].sum()/pdfage.where(pdfage['Age']>=40)['SN'].count())],
    "Total Purchase Value":[
    '${:,.2f}'.format(pdfage.where(pdfage['Age']<10)['Price'].sum()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(10,14))['Price'].sum()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(15,19))['Price'].sum()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(20,24))['Price'].sum()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(25,29))['Price'].sum()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(30,34))['Price'].sum()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(35,39))['Price'].sum()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age']>=40)['Price'].sum())],
    "Avg Total Purchase per Person":[
    '${:,.2f}'.format(pdfage.where(pdfage['Age']<10)['Price'].sum()/pdfage.where(pdfage['Age']<10)['SN'].nunique()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(10,14))['Price'].sum()/pdfage.where(pdfage['Age'].between(10,14))['SN'].nunique()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(15,19))['Price'].sum()/pdfage.where(pdfage['Age'].between(15,19))['SN'].nunique()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(20,24))['Price'].sum()/pdfage.where(pdfage['Age'].between(20,24))['SN'].nunique()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(25,29))['Price'].sum()/pdfage.where(pdfage['Age'].between(25,29))['SN'].nunique()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(30,34))['Price'].sum()/pdfage.where(pdfage['Age'].between(30,34))['SN'].nunique()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age'].between(35,39))['Price'].sum()/pdfage.where(pdfage['Age'].between(35,39))['SN'].nunique()),
    '${:,.2f}'.format(pdfage.where(pdfage['Age']>=40)['Price'].sum()/pdfage.where(pdfage['Age']>=40)['SN'].nunique())]
    },
index=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [15]:
pdfpage = purchase_data_df.copy()
  

filtergrid = pdfpage.groupby('SN').agg(
 
    Purchase_Count = ('SN', 'count'),
    Average_Purchase_Price = ('Price', 'mean'),
    Total_Purchase_Value=('Price', sum)
    
)
pd.options.display.float_format = '${:.2f}'.format
print(filtergrid.sort_values(['Total_Purchase_Value'],ascending = False).head(5))

             Purchase_Count  Average_Purchase_Price  Total_Purchase_Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10