In [655]:
import pandas as pd

In [656]:
working_file = "Resources/purchase_data.csv"

In [657]:
purchase_data_df = pd.read_csv(working_file)

In [658]:
unique_value = purchase_data_df["SN"].nunique()
print("Total Players")
print(unique_value)

Total Players
576

In [659]:
summary_df = pd.DataFrame({"Total Players": [unique_value]})
summary_df

   Total Players
0            576

In [660]:
Num_unique = len(purchase_data_df["Item ID"].unique())
print(Num_unique)

179

In [661]:
Average_price = purchase_data_df["Price"].mean()
print(Average_price)

3.050987179487176

In [662]:
Num_purchase = purchase_data_df["Purchase ID"].count()
print(Num_purchase)

780

In [663]:
Total_revenue = purchase_data_df["Price"].sum()
print(Total_revenue)

2379.77

In [15]:
summary_df = pd.DataFrame({"Number of Unique Items": [Num_unique],
                              "Average Price": ['Average_price'],
                              "Number of Purchases": [Num_purchase],

                              "Total Revenue": [Total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179  Average_price                  780        2379.77

In [665]:
pdfmale = purchase_data_df.copy()
pdffemale = purchase_data_df.copy()
pdfother = purchase_data_df.copy()

unique_sn_males = purchase_data_df[['SN','Gender']]
filter_male = pdfmale['Gender']=="Male"
filter_female = pdffemale['Gender']=="Female"
filter_other = pdfother['Gender']=="Other / Non-Disclosed"

pdfmale.where(filter_male,inplace=True)
pdffemale.where(filter_female,inplace=True)
pdfother.where(filter_other,inplace=True)

summary_df = pd.DataFrame({"Total Count": [pdfmale['SN'].nunique(),pdffemale['SN'].nunique(),pdfother['SN'].nunique()], 
"Percentage of Players":['{:,.2%}'.format(pdfmale['SN'].nunique() / unique_value),'{:,.2%}'.format(pdffemale['SN'].nunique()/unique_value),'{:,.2%}'.format(pdfother['SN'].nunique()/unique_value)]},
index=['Male', 'Female', 'Other / Non-Disclosed'])

summary_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [666]:
pdfmale = purchase_data_df.copy()
pdffemale = purchase_data_df.copy()
pdfother = purchase_data_df.copy()

filter_male = pdfmale['Gender']=="Male"
filter_female = pdffemale['Gender']=="Female"
filter_other = pdfother['Gender']=="Other / Non-Disclosed"

pdfmale.where(filter_male,inplace=True)
pdffemale.where(filter_female,inplace=True)
pdfother.where(filter_other,inplace=True)

summary_df = pd.DataFrame({"Purchase Count": ["",pdffemale['SN'].count(),pdfmale['SN'].count(),pdfother['SN'].count()],
"Average Purchase Price": ["",'${:,.2f}'.format(pdffemale['Price'].mean()),'${:,.2f}'.format(pdfmale['Price'].mean()),'${:,.2f}'.format(pdfother['Price'].mean())],
"Total Purchase Value": ["",'${:,.2f}'.format(pdffemale['Price'].sum()),'${:,.2f}'.format(pdfmale['Price'].sum()),'${:,.2f}'.format(pdfother['Price'].sum())],
"Avg Total Purchase per Person": ["",'${:,.2f}'.format(pdffemale['Price'].sum()/pdffemale['SN'].nunique()),'${:,.2f}'.format(pdfmale['Price'].sum()/pdfmale['SN'].nunique()),'${:,.2f}'.format(pdfother['Price'].sum()/pdfother['SN'].nunique())]
},
index=['Gender','Female','Male', 'Other / Non-Disclosed'])

summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [667]:


pdfage = purchase_data_df.copy()

summary_df = pd.DataFrame(
{
    "Total Count":[
        pdfage.where(pdfage['Age']<10)['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(10,14))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(15,19))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(20,24))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(25,29))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(30,34))['SN'].nunique(),
        pdfage.where(pdfage['Age'].between(35,39))['SN'].nunique(),
        pdfage.where(pdfage['Age']>=40)['SN'].nunique()
        ],
"Percentage of Players":[
    '{:,.2%}'.format(pdfage.where(pdfage['Age']<10)['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(10,14))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(15,19))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(20,24))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(25,29))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(30,34))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age'].between(35,39))['SN'].nunique()/pdfage['SN'].nunique()),
    '{:,.2%}'.format(pdfage.where(pdfage['Age']>=40)['SN'].nunique()/pdfage['SN'].nunique())]
    },
index=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
summary_df

       Total Count Percentage of Players
&lt;10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%